/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: white;
}

/* HEADER */

.header {
  background-color: #111827;
  padding: 18px 8%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container { /* for anchor tags*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
  letter-spacing: 1px;
}

/* Navigation */
.nav a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  font-size: 15px;
  transition: 0.3s ease;
}

.nav a:hover {
  color: #38bdf8;
}

/* ================= FOOTER ================= */

.footer {
  background-color: #111827;
  padding: 30px 8%;
  text-align: center;
  margin-top: 80px;
}

.footer-logo {
  font-size: 18px;
  font-weight: bold;
  color: #38bdf8;
  margin-bottom: 15px;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: #cbd5e1;
  text-decoration: none;
  margin: 0 12px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #38bdf8;
}

.copyright {
  font-size: 13px;
  color: #94a3b8;
}
section {
  padding: 80px 8%;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #38bdf8;
}

/* Hero section*/
.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 22px;
  color: #cbd5e1;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 25px;
}

.btn {
  background: #38bdf8;
  padding: 12px 25px;
  border-radius: 6px;
  color: #0f172a;
  text-decoration: none;
  font-weight: bold;
}

/* Skills Section */
.skills-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background: #1e293b;
  padding: 20px 30px;
  border-radius: 8px;
}

/* Projects section*/
.project-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.project-card {
  background: #1e293b;
  padding: 25px;
  width: 250px;
  border-radius: 8px;
}

/* Contact section*/
.contact p {
  margin: 10px 0;
}


/* ================= CERTIFICATES ================= */

.certificates {
  padding: 80px 8%;
  text-align: center;
}

.certificates h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #38bdf8;
}

.certificate-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.certificate-card {
  background-color: #1e293b;
  padding: 25px;
  width: 280px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.certificate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.certificate-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.certificate-card p {
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 20px;
}

.cert-btn {
  text-decoration: none;
  background-color: #38bdf8;
  color: #0f172a;
  padding: 8px 15px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

.cert-btn:hover {
  background-color: #0ea5e9;
}

